$text: #303030;
$black: #000;
$white: #fff;

// grays
$g-52: #525252;
$g-41: #414141;
$g-31: #313131;
$g-2b: #2b2b2b;

// reds
$r-ca3e47: #ca3e47;
$r-cd1818: #cd1818;
$r-d21818: #d21818;
$r-a04747: #a04747;
$r-321e1e: #321e1e;

// grns
$r-00ff00: #0f0;

// some other colors i mightl ike
$soc-116d6e: #116d6e;
$ctape: #ebc106;
