@use '../tools/media-queries' as mq;

.overflow {
  overflow: hidden;
}

.pc {
  display: block;
  @include mq.sp {
    display: none;
  }
}

.tabp {
  @include mq.max(980px) {
    display: none;
  }
}

.tabs {
  display: none;
  @include mq.max(980px) {
    display: block;
  }
}

.sp {
  display: none;
  @include mq.sp {
    display: block;
  }
}

.end {
  text-align: end;
}
